extends ../layouts/default

block head
  link(rel='stylesheet', href='css/auth.css')

block variables
  - bodyClassName = 'carbon';
block content
  .auth-form
    #logo(title='PM2 GUI')
    h2.title-error Your Discord login failed
    h3.text-error #{tinyError}

block js
  script(src='js/socket.io.js')
  script(src='js/d3.min.js')
  script(src='js/auth.html.js')